<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>984</integer>
    <key>capHeight</key>
    <integer>705</integer>
    <key>copyright</key>
    <string>Copyright (c) 2009-2010, Svetlana Sebyakina (www.sebyakina.com). Copyright (c) 2011, Cyreal (www.cyreal.org)
with Reserved Font Name "Alike" and "Alike Regular".</string>
    <key>descender</key>
    <integer>-270</integer>
    <key>familyName</key>
    <string>Alike</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>y</key>
        <integer>300</integer>
      </dict>
      <dict>
        <key>y</key>
        <integer>988</integer>
      </dict>
      <dict>
        <key>y</key>
        <integer>505</integer>
      </dict>
      <dict>
        <key>y</key>
        <integer>314</integer>
      </dict>
      <dict>
        <key>angle</key>
        <real>81.47</real>
        <key>x</key>
        <integer>40</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2023/09/29 12:36:06</string>
    <key>openTypeHheaAscender</key>
    <integer>984</integer>
    <key>openTypeHheaDescender</key>
    <integer>-270</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Svetlana Sebyakina</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://sebyakina.com</string>
    <key>openTypeNameLicense</key>
    <string>Copyright (c) 2009-2010, Svetlana Sebyakina (www.sebyakina.com). Copyright (c) 2011, Cyreal (www.cyreal.org)
with Reserved Font Name "Alike" and "Alike Regular".</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Cyreal (www.cyreal.org)</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://cyreal.org</string>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>-270</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>700</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>140</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>650</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>700</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>477</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>650</integer>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>984</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-270</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>984</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>270</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
      <integer>500</integer>
      <integer>520</integer>
      <integer>700</integer>
      <integer>720</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-270</integer>
      <integer>-250</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>30</integer>
      <integer>42</integer>
      <integer>50</integer>
      <integer>54</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>97</integer>
      <integer>105</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-75</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Alike</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string>Svetlana Sebyakina</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>213</integer>
    <key>xHeight</key>
    <integer>505</integer>
  </dict>
</plist>
