<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>name</key>
        <string>eraseOpenCorners</string>
        <key>namespace</key>
        <string>glyphsLib.filters</string>
        <key>pre</key>
        <true/>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.note</key>
    <string>Alike is a text typeface with expressive and tense letterforms.
Its design features are said to have czech influence, but are
softened for a friendlier feel.

The proportions are regular and the contrast is low for
a pleasant reading experience.

Designed by Svetlana Sebyakina 2009-2011.

Alike is a Unicode typeface family that supports 
languages that use the Latin script and its variants, and 
could be expanded to support other scripts.</string>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.TTFStems</key>
    <array>
      <dict>
        <key>horizontal</key>
        <integer>1</integer>
        <key>name</key>
        <string>Y: 50</string>
        <key>width</key>
        <integer>50</integer>
      </dict>
      <dict>
        <key>horizontal</key>
        <integer>1</integer>
        <key>name</key>
        <string>Y: 30</string>
        <key>width</key>
        <integer>30</integer>
      </dict>
      <dict>
        <key>horizontal</key>
        <integer>1</integer>
        <key>name</key>
        <string>Y: 42</string>
        <key>width</key>
        <integer>42</integer>
      </dict>
      <dict>
        <key>horizontal</key>
        <integer>1</integer>
        <key>name</key>
        <string>Y: 54</string>
        <key>width</key>
        <integer>54</integer>
      </dict>
      <dict>
        <key>horizontal</key>
        <integer>0</integer>
        <key>name</key>
        <string>X: 97</string>
        <key>width</key>
        <integer>97</integer>
      </dict>
      <dict>
        <key>horizontal</key>
        <integer>0</integer>
        <key>name</key>
        <string>X: 105</string>
        <key>width</key>
        <integer>105</integer>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.TTFZones</key>
    <array>
      <dict>
        <key>name</key>
        <string>t: 0</string>
        <key>position</key>
        <integer>500</integer>
        <key>size</key>
        <integer>20</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>t: 1</string>
        <key>position</key>
        <integer>700</integer>
        <key>size</key>
        <integer>20</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>b: 0</string>
        <key>position</key>
        <integer>0</integer>
        <key>size</key>
        <integer>-20</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>b: 1</string>
        <key>position</key>
        <integer>-250</integer>
        <key>size</key>
        <integer>-20</integer>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>B</string>
      <string>C</string>
      <string>Ccedilla</string>
      <string>D</string>
      <string>Eth</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Egrave</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Igrave</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Thorn</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Z</string>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>b</string>
      <string>c</string>
      <string>ccedilla</string>
      <string>d</string>
      <string>eth</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>egrave</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>thorn</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>germandbls</string>
      <string>t</string>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
      <string>z</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>fraction</string>
      <string>onehalf</string>
      <string>onequarter</string>
      <string>threequarters</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>foursuperior</string>
      <string>space</string>
      <string>nbspace</string>
      <string>.notdef</string>
      <string>.null</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>hyphen</string>
      <string>softhyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>at</string>
      <string>ampersand</string>
      <string>paragraph</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>degree</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>cent</string>
      <string>currency</string>
      <string>dollar</string>
      <string>euro</string>
      <string>sterling</string>
      <string>yen</string>
      <string>plus</string>
      <string>minus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>greater</string>
      <string>less</string>
      <string>plusminus</string>
      <string>asciitilde</string>
      <string>logicalnot</string>
      <string>asciicircum</string>
      <string>micro</string>
      <string>percent</string>
      <string>dieresis</string>
      <string>grave</string>
      <string>acute</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>ring</string>
      <string>tilde</string>
      <string>macron</string>
      <string>cedilla</string>
      <string>dieresis.case</string>
      <string>grave.case</string>
      <string>acute.case</string>
      <string>circumflex.case</string>
      <string>caron.case</string>
      <string>ring.case</string>
      <string>tilde.case</string>
      <string>foundryicon</string>
      <string>noBreak</string>
      <string>nonmarkingreturn</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>A</key>
      <string>base</string>
      <key>Aacute</key>
      <string>base</string>
      <key>Acircumflex</key>
      <string>base</string>
      <key>Adieresis</key>
      <string>base</string>
      <key>Agrave</key>
      <string>base</string>
      <key>Atilde</key>
      <string>base</string>
      <key>C</key>
      <string>base</string>
      <key>E</key>
      <string>base</string>
      <key>Eacute</key>
      <string>base</string>
      <key>Ecircumflex</key>
      <string>base</string>
      <key>Edieresis</key>
      <string>base</string>
      <key>Egrave</key>
      <string>base</string>
      <key>I</key>
      <string>base</string>
      <key>Iacute</key>
      <string>base</string>
      <key>Icircumflex</key>
      <string>base</string>
      <key>Idieresis</key>
      <string>base</string>
      <key>Igrave</key>
      <string>base</string>
      <key>N</key>
      <string>base</string>
      <key>Ntilde</key>
      <string>base</string>
      <key>O</key>
      <string>base</string>
      <key>Oacute</key>
      <string>base</string>
      <key>Ocircumflex</key>
      <string>base</string>
      <key>Odieresis</key>
      <string>base</string>
      <key>Ograve</key>
      <string>base</string>
      <key>Otilde</key>
      <string>base</string>
      <key>U</key>
      <string>base</string>
      <key>Uacute</key>
      <string>base</string>
      <key>Ucircumflex</key>
      <string>base</string>
      <key>Udieresis</key>
      <string>base</string>
      <key>Ugrave</key>
      <string>base</string>
      <key>Y</key>
      <string>base</string>
      <key>Yacute</key>
      <string>base</string>
      <key>a</key>
      <string>base</string>
      <key>aacute</key>
      <string>base</string>
      <key>acircumflex</key>
      <string>base</string>
      <key>adieresis</key>
      <string>base</string>
      <key>agrave</key>
      <string>base</string>
      <key>aring</key>
      <string>base</string>
      <key>atilde</key>
      <string>base</string>
      <key>c</key>
      <string>base</string>
      <key>e</key>
      <string>base</string>
      <key>eacute</key>
      <string>base</string>
      <key>ecircumflex</key>
      <string>base</string>
      <key>edieresis</key>
      <string>base</string>
      <key>egrave</key>
      <string>base</string>
      <key>iacute</key>
      <string>base</string>
      <key>icircumflex</key>
      <string>base</string>
      <key>idieresis</key>
      <string>base</string>
      <key>idotless</key>
      <string>base</string>
      <key>igrave</key>
      <string>base</string>
      <key>n</key>
      <string>base</string>
      <key>ntilde</key>
      <string>base</string>
      <key>o</key>
      <string>base</string>
      <key>oacute</key>
      <string>base</string>
      <key>ocircumflex</key>
      <string>base</string>
      <key>odieresis</key>
      <string>base</string>
      <key>ograve</key>
      <string>base</string>
      <key>otilde</key>
      <string>base</string>
      <key>u</key>
      <string>base</string>
      <key>uacute</key>
      <string>base</string>
      <key>ucircumflex</key>
      <string>base</string>
      <key>udieresis</key>
      <string>base</string>
      <key>ugrave</key>
      <string>base</string>
      <key>y</key>
      <string>base</string>
      <key>yacute</key>
      <string>base</string>
      <key>ydieresis</key>
      <string>base</string>
    </dict>
    <key>public.postscriptNames</key>
    <dict>
      <key>euro</key>
      <string>Euro</string>
      <key>foursuperior</key>
      <string>uni2074</string>
      <key>guillemetleft</key>
      <string>guillemotleft</string>
      <key>guillemetright</key>
      <string>guillemotright</string>
      <key>idotless</key>
      <string>dotlessi</string>
      <key>micro</key>
      <string>uni00B5</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>onesuperior</key>
      <string>uni00B9</string>
      <key>softhyphen</key>
      <string>uni00AD</string>
      <key>threesuperior</key>
      <string>uni00B3</string>
      <key>twosuperior</key>
      <string>uni00B2</string>
    </dict>
  </dict>
</plist>
